<tr>
    <td width="230" bgcolor="#FFFFFF" style="border-top: 1px solid #000000; text-align: justify; font-size: xx-small;">
        <font size="1" face="Verdana" style="word-break: break-word">
            @Model.Servico
        </font>
    </td>
    <td bgcolor="#FFFFFF"
        style="border-left: 1px solid #000000; border-top: 1px solid #000000; font-size: xx-small; text-align: center;">
        <font size="1" face="Verdana">
            @Model.Vencimento
        </font>
    </td>
    <td bgcolor="#FFFFFF"
        style="border-left: 1px solid #000000; border-top: 1px solid #000000; font-size: xx-small; text-align: center;">
        <font size="1" face="Verdana">
            @Model.ValorNominal
        </font>
    </td>
    <td bgcolor="#FFFFFF"
        style="border-left: 1px solid #000000; border-top: 1px solid #000000; font-size: xx-small; text-align: center;">
        <font size="1" face="Verdana">
            @Model.ValorCorrigido
        </font>
    </td>
    <td bgcolor="#FFFFFF"
        style="border-left: 1px solid #000000; border-top: 1px solid #000000; font-size: xx-small; text-align: center;">
        <font size="1" face="Verdana">
            @Model.Desconto
        </font>
    </td>
    <td bgcolor="#FFFFFF"
        style="border-left: 1px solid #000000; border-top: 1px solid #000000; font-size: xx-small; text-align: center;">
        <font size="1" face="Verdana">
            @Model.Juros
        </font>
    </td>
    <td bgcolor="#FFFFFF"
        style="border-left: 1px solid #000000; border-top: 1px solid #000000; font-size: xx-small; text-align: center;">
        <font size="1" face="Verdana">
            @Model.Multa
        </font>
    </td>
    <td bgcolor="#FFFFFF"
        style="border-left: 1px solid #000000; border-top: 1px solid #000000; font-size: xx-small; text-align: center;">
        <font size="1" face="Verdana">
            @Model.ValorPagar
        </font>
    </td>
</tr>